<?xml version="1.0"?>

<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfDuplexTestService2.Service">
        <endpoint address="net.tcp://localhost:9011/DataService" binding="netTcpBinding"
                  bindingConfiguration="" name="DataEndpoint" contract="TestClientInterfaces.IWcfDuplexTestService" />
      </service>
    </services>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>